/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Set your desired background color */
}

/* Header styles */
.header {
    /* Add styles for the header */
}

/* Container for body content */
.body_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem; /* Adjust the margin as needed */
    padding: 0 1rem;
}

/* Heading styles */
.heading {
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    margin: auto;
}

/* Navigation styles */
.nav {
    display: flex;
    gap: 3rem;
    margin: 10rem 0;
}

ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000; /* Set your desired text color */
}

ul li a:hover {
    color: #838383; /* Adjust the hover color as needed */
}

.li_active {
    color: #FFBF00;
}

/* Body content styles */
.body_content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

/* Card container */
.tour_card {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

/* Hide the safari planning section initially */
.display_none {
    display: none;
}

/* Card styles */
.safari_card, 
.gorilla_card, 
.city_card, 
.reservation_card{
    display: flex;
    text-align: justify;
    flex-direction: row;
    margin-bottom: 5rem;
    padding: 1rem 0 1rem 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.safari_card img {
    width: 30rem;
}

.card_title {
    margin: auto 4rem;
}

.c_title {
    color: #005304;
    font-size: 22px;
    font-weight: bold;
}

.card_desc {
    font-size: large;
    color: #5F5F5F; /* Adjust the text color as needed */
    margin-top: 1rem;
}
